- model_class = Tomato

=render :partial => "tomato_general"

=render :partial => "tomatoes/timer"

=render :partial => "my_rating"

=render :partial => "shared/comments_list", :locals => { :type => "Tomate"}

=render :partial => "publish_wordpress"
