.panel.panel-default
  .panel-heading
    %h4= t("helpers.actions")
  .panel-body
    .row
      .col-md-1
      .col-md-2
        - if (current_user.has_role? :admin) || (current_user.id == @move.user_id)
          = link_to t("helpers.links.edit"), edit_move_path(@move), :class => 'btn'
          = link_to t("helpers.links.destroy"), move_path(@move), :method => "delete", :data => { :confirm => t("helpers.links.confirm") }, :class => 'btn btn-danger'

