.panel.panel-default
  .panel-heading
    %h4.panel-title= t("moves.peer_review")
  .panel-body
    -if @move.inscription.present?
      -@move.inscription.users.each do |user|
        =user.name +  "; "
