-if (@tomato.present? && @tomato.state == 2) || !@move.move_type.has_tomatoes # for tomato moves this widget is shown after the tomamto is done
  .panel.panel-default
    .panel-heading
      %h4= t("helpers.retro")
    .panel-body
      .row
        .span10
          -if @move.users.include? current_user || @move.user == current_user
            = simple_form_for @tomato, :html => { :class => 'form-horizontal' } do |f|
              = f.input :body, :as => :ckeditor, :input_html => { :ckeditor => {:toolbar => "mini"}}, :label => false
              = f.button :submit, :class => 'btn btn-primary'
          -else
            =raw(@tomato.body)
