%table.table.table-striped
  %tr
    %th{:width => "100px;"}
    %th{:width => "300px;"} Title
    %th{:width => "100px;"} Owner
    %th{:width => "200px;"} Team
    %th{:width => "80px;"} Publish date
    
  - @moves.each do |move|
    -reviewed_by_me=false;
    -if move.move_type != nil  && move.move_type.star_rating
      -move.ratings.each do |rating|
        -if rating.user == current_user && rating.star_rating >= 0
          -reviewed_by_me = true
    -elsif move.move_type != nil  && move.move_type.thumb_rating
      -move.ratings.each do |rating|
        -if rating.user == current_user && rating.thumb_rating >= 0
          -reviewed_by_me = true
    
    -if !reviewed_by_me && move.user != current_user
      %tr
        %td
          =image_tag("bewerten.png", :width => 25, :height => 25)
        %td= link_to move.title, move
        %td= move.user.name
        %td
          -move.users.each do |reviewer|
            = reviewer.name
        %td= move.publish_date.to_s(:short) unless move.publish_date == nil

%br