=render :partial => "header"      

%h4 Reports


#tabs
  %ul.tabs
    %li
      = link_to t("helpers.links.starsranking"), '#tabs-1'
    %li
      = link_to "Thumbs Ranking", '#tabs-2'
  #tabs-1
    =render :partial => "report_starrating"
  #tabs-2
    =render :partial => "report_thumbrating"

:javascript
  content_pane_tabs();

