=render :partial => "header", :locals => {:page => "report"}

.row
  .span2
    %h5
      =@move_type.title unless @move_type == nil
      Report
      %br

    %ul
      -@project.move_types.each do |move_type|
        %li
          = link_to move_type.title, report_projects_path(id: @project.id, date: @date, move_type: move_type.id)
  .span10
    -if @move_type
      -if @move_type.thumb_rating
        =render :partial => "report_rating"
      -elsif @move_type.star_rating
        =render :partial => "report_rating"
      -elsif @move_type.has_tomatoes
        =render :partial => "report_calender"
