%p
  %strong Description:
  %br
  %br
  = raw(@project.body)

%br

%p
  %strong Team:
  -@project.users.each do |user|
    = user.name

%br

%p
  %strong Move types:
  -@project.move_types.each do |move_type|
    = move_type.title

%br
%br

%p
  %strong Certification:
  -@project.certifications.each do |certification|
    = certification.title

