// Place all the styles related to the moves controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.cntSeparator {
  font-size: 54px;
  margin: 10px 7px;
  color: #000;
}

.desc {
  margin: 7px 3px;
  div {
    float: left;
    font-family: Arial;
    width: 70px;
    margin-right: 65px;
    font-size: 13px;
    font-weight: bold;
    color: #000;
  }
}